{% extends "base_layout.html" %}

{% block title %}
ListVIS
{% endblock %}

{% block toolbar_home_link %}
<a class="navbar-brand" href="/list">ListVIS</a>
{% endblock %}

{% block toolbar_header_left_link_content %}
<!-- <li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li> -->
<!-- <li><a href="/list/tutorial">Tutorial</a></li> -->
{% endblock %}

{% block toolbar_page_content %}
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/list/tutorial">Tutorial</a></li>
		<li><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/" target="_blank">VIS 25 - All the Papers and Citations</a></li>
	</ul>
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>ListVIS</h1>
		<p><strong>ListVIS</strong> is a way of visualizing contents of a CSV file. Every column of the CSV file is considered as a “list” and the visualization represents connections between the individual members of a list. Connections can be both internal and external. <strong>VISLists</strong> summarizes all papers and authors from the IEEE VIS Conferences (VAST, InfoVis, SciVis). </p>
		<p><a class="btn btn-lg btn-success" href="/list/vis25" role="button">Go to VISLists »</a></p>

	</div>
	<div class="row">
		<div class="col-md-6">
			<form id="fileUploadForm" method="post" enctype="multipart/form-data">
				<h3>Upload a file</h3>
				<p>Select a file that you want to visualize using the ListVIS</p>
				<div class="row">
					<div class="col-md-10 padding-right-5">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-primary btn-file">
									Browse <input type="file" name="file" accept="text/csv" multiple>
								</span>
							</span>
							<input type="text" class="form-control" readonly>
						</div>		
					</div>
					<div class="col-md-2 padding-left-0">
						<input type="submit" class="btn btn-success"/>
					</div>
				</div>

				<span class="help-block" id="fileUploadFormResponse">
					Currently Supported File Types: *.csv
				</span>
			</form>
		</div>
		<!-- <div class="col-md-4">
			<h3>VISLists</h3>
			<p>This visualization summarizes all papers and authors from the IEEE VIS Conferences (VAST, InfoVis, SciVis).</p>
			<p><a class="btn btn-primary" href="#" role="button">Go to VISLists »</a></p>
		</div> -->
		<div class="col-md-6">
			<h3>Resume saved session</h3>
			<p>Enter the session code to resume a previous session.</p>
			<div class="input-group">
				<input type="text" class="form-control" id="sessionCodeTxt" placeholder="Saved Session Code">
				<span class="input-group-btn">
					<button class="btn btn-primary" id="goBtn" type="button">Go!</button>
				</span>
			</div>
		</div>

	</div>

	<div class="bs-callout bs-callout-warning">
        <h4>Warning</h4>
        <p>Files uploaded to this site may be removed without any prior warning. It's always best to have a copy of the file that was uploaded to the site as a backup for future usage.</p>
    </div>

	<footer class="footer">
		<p>© <a href="http://www.cc.gatech.edu/gvu/ii/" target="_blank">II Lab - Georgia Institute of Technology</a></p>
	</footer>
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/file-btn.js') }}"></script>
<script type="text/javascript">
	$(function(){
		$('#goBtn').click(function(){
			var sessionCode = $("#sessionCodeTxt").val();
			if(sessionCode){
				$("#sessionCodeTxt").val(null);
				window.location.href = "/list/session/"+sessionCode;
			}
		});
	});
</script>

{% endblock %}