{% extends "base_layout.html" %}

{% block title %}
VISLists, VIS 25 - All the Papers and Citations
{% endblock %}

{% block head_script_content %}
<style type="text/css">
	
	.jumbotron{
		background-color: transparent !important;
		padding-left: 30px !important;
		padding-right: 30px !important;
		padding-top: 24px !important;
		padding-bottom: 24px !important;
		text-align: center;
	}

	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 40px;
		border-top: 1px solid #eee;
	}

	.btn-file {
		position: relative;
		overflow: hidden;
	}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		background: red;
		cursor: inherit;
		display: block;
	}

	input[readonly] {
		background-color: white !important;
		cursor: text !important;
	}

	.bs-callout-warning {
		background-color: #faf8f0;
		border-color: #faebcc;
	}
	
	.bs-callout {
		margin: 20px 0;
		padding: 20px;
		border-left: 3px solid #faebcc;
	}

	.bs-callout-warning h4 {
		color: #8a6d3b;
	}

	.bs-callout h4 {
		margin-top: 0;
		margin-bottom: 5px;
	}

	.padding-left-0 {
		padding-left: 0px !important;
	}

	.right-padding-5 {
		padding-right: 5px !important;
	}

</style>
{% endblock %}

{% block toolbar_header_left_link_content %}
<li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li>
<li><a href="/list/tutorial">Help</a></li>
{% endblock %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>ListVIS</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

		<p><strong>VISLists</strong> summarizes all papers and authors from the IEEE VIS Conferences (VAST, InfoVis, SciVis). </p>
		<p><a class="btn btn-lg btn-success" href="/list/vis25" role="button">Go to VISLists »</a></p>

	</div>
	<div class="row">
		<div class="col-md-6">
			<form id="fileUploadForm" method="post" enctype="multipart/form-data">
				<h3>Upload a file</h3>
				<p>Select a file that you want to visualize using the ListVIS</p>
				<div class="row">
					<div class="col-md-10 padding-right-5">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-primary btn-file">
									Browse <input type="file" name="file" accept="text/csv" multiple>
								</span>
							</span>
							<input type="text" class="form-control" readonly>
						</div>		
					</div>
					<div class="col-md-2 padding-left-0">
						<input type="submit" class="btn btn-success"/>
					</div>
				</div>

				<span class="help-block" id="fileUploadFormResponse">
					Currently Supported File Types: *.csv
				</span>
			</form>
		</div>
		<!-- <div class="col-md-4">
			<h3>VISLists</h3>
			<p>This visualization summarizes all papers and authors from the IEEE VIS Conferences (VAST, InfoVis, SciVis).</p>
			<p><a class="btn btn-primary" href="#" role="button">Go to VISLists »</a></p>
		</div> -->
		<div class="col-md-6">
			<h3>Resume saved session</h3>
			<p>Enter the session code to resume a previous session.</p>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Saved Session Code">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">Go!</button>
				</span>
			</div>
		</div>

	</div>

	<div class="bs-callout bs-callout-warning">
        <h4>Warning</h4>
        <p>Files uploaded to this site may be removed without any prior warning. It's always best to have a copy of the file that was uploaded to the site as a backup for future usage.</p>
    </div>

	<footer class="footer">
		<p>© II Lab - Georgia Institute of Technology</p>
	</footer>
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
<script type="text/javascript">
	$(function(){

		$(document).on('change', '.btn-file :file', function() {
			var input = $(this),
			numFiles = input.get(0).files ? input.get(0).files.length : 1,
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
		});

		$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
			var input = $(this).parents('.input-group').find(':text'),
			log = numFiles > 1 ? numFiles + ' files selected' : label;

			if( input.length ) {
				input.val(log);
			} else {
				if( log ) alert(log);
			}
		});
	});
</script>

{% endblock %}