<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Anand Sainath">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/starter-template.css') }}">    

	<title>List View</title>
	<style type="text/css">

	body{
		padding-top: 0px;
	}

	.grid{
		position: relative;
		width: 100%;
		height: 675px;
		margin: 0 0 0 0;
		padding-top: 10px;
		background: #FAFAFA;
		overflow: hidden;
		overflow-x: scroll;
	}

	.min-height{
		height: 550px;
	}

	.max-width{
		width: 20px;
	}

	.top-margin{
		margin-top: 90px;
	}

	.list-container{
		position: absolute;
    	width: 1300px;
    	height: 550px;
	}

	.col-1-4 {
		margin-left: 10px;
		width: 325px;
		padding: 0px;
		float: left;
	}

	.col-space{
		width: 50px;
		height: 550px;
		float: left;
		padding-left: 2px;
	}

	.restrict {
		overflow-x: hidden;
		overflow-y: scroll;
		height: 550px;
		width: 323px;
		margin: 0 auto;
	}

	.top-margin-10{
		margin-top: 10px;
	}

	.padding-right-25{
		padding-right: 25px;
	}

	.panel-heading{
		padding: 7px 2px;
	}

	.btn-sm, .btn-group-sm>.btn {
		padding: 5px 10px;
	}

	ol, ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	ul.js-items-list li{
		border-bottom: 1px solid #CCC;
	}

	.scrollbar-item{
		background: #FAFAFA;
	}

	.panel-body{
		padding: 0px;
	}

	.js-scroll-list::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 0px;
	}
	.js-scroll-list::-webkit-scrollbar-thumb {
	    border-radius: 0px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}

	.grid::-webkit-scrollbar {
	    -webkit-appearance: none;
	    height: 7px;
	}
	.grid::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}

	.bar-container{
		margin: 3px 0px;
		height: 14px;
		background: black;
	}

	.bar{
		background: white;
		height: 14px;
	}

	.modal {
	    display:    none;
	    position:   fixed;
	    z-index:    1000;
	    top:        0;
	    left:       0;
	    height:     100%;
	    width:      100%;
	    background: rgba( 255, 255, 255, .8 ) 
	        url('/static/images/loading.gif') 
	        50% 50% 
	        no-repeat;
	}

	.ellipsize{
		white-space: nowrap;
		overflow: hidden;
	}
	</style>
</head>
<body>

	<div class="modal"></div>
	{% macro render_list(headers, list_content) %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div>
					<div class="row">
						<div class="col-xs-6 js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Select item type to be shown in the list"  style="padding-right: 5px; padding-left: 20px;">
							<select class="form-control">
								{% for header in headers %}
									<option>{{header}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-xs-3 js-tooltip" data-toggle="tooltip" data-placement="bottom" title="Add all items of the selected type to the list">
							<button type="button" class="btn btn-default">Add all</button>
						</div>
						<div class="col-xs-3 js-tooltip pull-left" data-toggle="tooltip" data-placement="bottom" title="Clear list" style="padding-left: 5px;">
							<button type="button" class="btn btn-default">Clear</button>
						</div>
					</div>
					<div class="row top-margin-10">
						<div class="col-xs-12" style="padding-left: 20px;">
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm js-tooltip js-sort-alphabetically" data-toggle="tooltip" data-placement="top" title="Sort list alphabetically">
									<span class="glyphicon glyphicon-sort-by-alphabet"></span>
								</button>
								<button type="button" class="btn btn-default btn-sm js-tooltip js-sort-by-frequency" data-toggle="tooltip" data-placement="top" title="Sort list by frequency">
									<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
								</button>
								<button type="button" class="btn btn-default btn-sm js-tooltip js-sort-by-connection" data-toggle="tooltip" data-placement="top" title="Sort list by connection strength">
									<span class="glyphicon glyphicon-align-justify"></span>
								</button>
							</div>

							|

							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm js-tooltip js-active-top" data-toggle="tooltip" data-placement="top" title="Bring active elements to the top of the list">
									<span class="glyphicon glyphicon-arrow-up"></span>
								</button>
							</div>

							|

							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm js-tooltip js-clear-selection" data-toggle="tooltip" data-placement="top" title="Clear Selection">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</div>

							|

							<div class="btn-group">
								<button type="button" class="btn btn-default btn-sm js-tooltip js-align-left active" data-toggle="tooltip" data-placement="top" title="Align Left">
									<span class="glyphicon glyphicon-align-left"></span>
								</button>
								<button type="button" class="btn btn-default btn-sm js-tooltip js-align-center" data-toggle="tooltip" data-placement="top" title="Center">
									<span class="glyphicon glyphicon-align-center"></span>
								</button>
								<button type="button" class="btn btn-default btn-sm js-tooltip js-align-right" data-toggle="tooltip" data-placement="top" title="Align Right">
									<span class="glyphicon glyphicon-align-right"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body min-height">
				<div class="restrict js-scroll-list" style="width: 303px; float:left;">
					<ul class="js-items-list">
						{% for item in list_content %}
						<li class="row" data-frequency="{{item.1}}" data-item="{{item.0}}" data-strength="0">
							<div class="col-xs-2 bar-container">
								<div class="bar" style="width: {{item.1}}%"></div>
							</div>
							<span class="col-xs-10 padding-right-25 ellipsize">{{item.0}}</span>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="max-width min-height js-scrollbar" style="float:right; background: #f5f5f5; border-color: #ddd;">
					<ul class="js-scrollbar-list">
						{% for item in list_content %}
							<li class="scrollbar-item" data-frequency="{{item.1}}" data-item="{{item.0}}" data-strength="0"></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endmacro %}

	<div class="grid">
		<div class="list-container">
			{% for list in lists %}
				<div class="js-list col-1-4">
					{{ render_list(headers, list) }}
				</div>
				<div class="col-space top-margin js-list-scrollbar">
				</div>
			{% endfor %}
		</div>
	</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-2.1.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='libs/d3.v3.js') }}"></script>

		<script type="text/javascript">

		var currentSelection = "#FEF935";
		//var seedSelectionColorSwatch = ["#fff5eb", "#fee6ce", "#fdd0a2", "#fdae6b", "#fd8d3c", "#f16913"];
		var seedSelectionColorSwatch = ["#ffdc8c", '#ffd278','#ffc864','#ffbe50','#ffb43c','#ffaa28','#ffa014','#ff9600'];
		
		var selectionColors = d3.scale.linear()
                    .domain(d3.range(0, 1, 1.0 / (seedSelectionColorSwatch.length - 1)))
                    .range(seedSelectionColorSwatch);

        $(function(){
        	$.fn.hasScrollBar = function() {
        		return this.get(0).scrollHeight > this.height();
    		}

    		$('div.js-scroll-list').each(function(index, div){
    			if($(div).hasScrollBar()){
    				var liCount = $('ul.js-items-list:eq('+index+') > li').length;
    				var liHeight = 550/liCount;
    				$('ul.js-scrollbar-list:eq('+index+') > li').css({height: liHeight});
    			}
    		});


			$('ul.js-items-list:eq(0) > li > span').click(function(){
				var year = $(this).text().trim();
				$(this).css({"background": currentSelection});
				$.ajax({
					type:'post',
					contentType: 'application/json; charset=utf-8',
					url:'/list/get-selections',
					dataType: 'json',
					data: JSON.stringify({'current':'Year','selection': year, 'related':['Author','Conference']}),
					success: function(data){
						$author = $('ul.js-items-list:eq(1)');
						$author.find('li > span').css({"background": "#FFFFFF"});
						var authorValues = data[0].values;
						var obj;
						
						$author.find('li').data('strength',0);
						$('ul.js-scrollbar-list:eq(1) > li').css({"background":"#FAFAFA"}).data('strength',0);

						for(var index in authorValues){
							obj = authorValues[index];
							$author.find('li[data-item="'+obj._id+'"]').data('strength',obj.count)
								.find('span').css({"background": selectionColors(obj.count)});
							$('ul.js-scrollbar-list:eq(1)').find('li[data-item="'+obj._id+'"]')
								.data('strength',obj.count)
								.css({"background": selectionColors(obj.count)});
						}

						//sort year..
						/*if($year.data('sort-strength')){
							console.log("Calling sort by connection strength..");
							sortByConnectionStrength($year);
						}*/

						$conference = $('ul.js-items-list:last');
						$conference.find('li').data('strength',0);
						$conference.find('li > span').css({"background": "#FFFFFF"});
						var conferenceValues = data[1].values;
						for(var index in conferenceValues){
							obj = conferenceValues[index];
							$conference.find('li[data-item="'+obj._id+'"]').data('strength',obj.count)
								.find('span').css({"background": selectionColors(obj.count)});
						}
					}
				});
			});			

			$('.js-tooltip').tooltip({
				container: 'body'
			});

			function sort(_thisButton, dataAttribute, sortByAttribute, sortAscending){
				$panelBody = $(_thisButton).parents('div.panel-heading:first').siblings('.panel-body');
				$ul = $panelBody.find('ul.js-items-list');
				$scrollbarList = $panelBody.find('ul.js-scrollbar-list');

				$(_thisButton).addClass('active').siblings('button').removeClass('active');
				showLoader($ul);

				function sort_function(a, b){
					if(sortAscending){
						return (parseInt($(b).data(sortByAttribute)) < parseInt($(a).data(sortByAttribute)))?1:-1;
					}else{
						return (parseInt($(b).data(sortByAttribute)) < parseInt($(a).data(sortByAttribute)))?-1:1;
					}
				}

				window.setTimeout(function(){
					if(!$ul.data(dataAttribute)){
						//attribute is either false or undefined
						//either ways, perform the sort operation
						$ul.append(($ul.find('li').sort(sort_function)));
						$scrollbarList.append(($scrollbarList.find('li').sort(sort_function)));
						resetAllSort($ul);
						$ul.data(dataAttribute, true);
					}
					hideLoader();
				}, 10);
			}

			$(document).on("click",".js-sort-by-frequency", function(){
				sort(this, 'sort-frequency','frequency', true);
			});

			$(document).on("click",".js-sort-alphabetically", function(){
				sort(this, 'sort-item', 'item', true);
			});

			$(document).on("click", ".js-sort-by-connection", function(){
				$ul = $(this).parents('div.panel-heading:first').siblings('.panel-body').find('ul.js-items-list');
				sortByConnectionStrength($ul);
			});

			$(document).on("click", ".js-align-left", function(){
				$ul = $(this).parents('div.panel-heading:first').siblings('.panel-body').find('ul.js-items-list');
				$(this).addClass('active').siblings('button').removeClass('active');
				
				var currentAlign = $ul.data('align');
				if(currentAlign !== "left" && currentAlign !== undefined){
					//align everythin left..
					$ul.find('li > span').removeClass('text-'+currentAlign).addClass('text-left');
					$ul.data('align', 'left');
				}
			});

			$(document).on("click", ".js-align-center", function(){
				$ul = $(this).parents('div.panel-heading:first').siblings('.panel-body').find('ul.js-items-list');
				$(this).addClass('active').siblings('button').removeClass('active');

				var currentAlign = $ul.data('align');
				if(currentAlign !== "center"){
					//align everythin center..
					if(currentAlign){
						$ul.find('li > span').removeClass('text-'+currentAlign);	
					}
					$ul.find('li > span').addClass('text-center');
					$ul.data('align', 'center');
				}
			});

			$(document).on("click", ".js-align-right", function(){
				$ul = $(this).parents('div.panel-heading:first').siblings('.panel-body').find('ul.js-items-list');
				$(this).addClass('active').siblings('button').removeClass('active');

				var currentAlign = $ul.data('align');
				if(currentAlign !== "right"){
					//align everythin right..
					if(currentAlign){
						$ul.find('li > span').removeClass('text-'+currentAlign);	
					}
					$ul.find('li > span').addClass('text-right');
					$ul.data('align', 'right');
				}
			});

			$(document).on("click", ".js-clear-selection", function(){
				$ul = $(this).parents('div.panel-heading:first').siblings('.panel-body').find('ul.js-items-list');
				$ul.find('li > span').css({"background": "#FFFFFF"});
			});

			$(document).on("click", ".js-active-top", function(){
				$(this).addClass('active');
			});
		});

		function sortByConnectionStrength($ul){
			$(this).addClass('active').siblings('button').removeClass('active');
			showLoader($ul);

			window.setTimeout(function(){
				if(!$ul.data('sort-strength')){
					//attribute is either false or undefined
					//either ways, sort alphabetically from A-Z
					$ul.append(($ul.find('li').sort(sort_by_strength)));
					resetAllSort($ul);
					$ul.data('sort-strength', true);
				}
				hideLoader();
			}, 10);

			function sort_by_strength(a, b){
			    return ($(b).data('strength')) < ($(a).data('strength')) ? -1 : 1;    
			}
		}

		function resetAllSort($ul){
			var sorterAttributes = $ul.data();
			for(attribute in sorterAttributes){
				$ul.data(attribute, false);
			}
		}

		function showLoader($ul){
			$('.modal').css($ul.offset())
				.css({"width": $ul.outerWidth(), "height": 550})
				.show();
		}

		function hideLoader(){
			$('.modal').hide();
		}

		</script>

	</body>
	</html>