<!doctype html>
<html lang="en" data-ng-app="ngListViewApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Anand Sainath">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/starter-template.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
	
	<script src="{{ url_for('static', filename='bower_components/jquery/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-bindonce/bindonce.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/nginfinitescroll/build-src/ng-infinite-scroll.min.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/ngReact/ngReact.min.js') }}"></script>
	<script type="text/jsx" src="{{url_for('static', filename='js/list/list-reactor.js')}}"></script>-->
	<script src="{{ url_for('static', filename='libs/d3.v3.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='js/list/longscroll.js') }}"></script>-->
	<script src="{{ url_for('static', filename='js/list/list.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/jquery.noty.packaged.min.js') }}"></script>
	
	<title>VISLists, VIS 25 - All the Papers and Citations</title>
</head>
<body id="bodyContainer" ng-controller="ListViewController">
	<nav class="navbar navbar-default my-nav" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">VISLists</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/">Back to Vis25</a></li>
				</ul>

				<!-- <ul class="nav navbar-nav navbar-left">
					<li><p class="navbar-text">Back to <a href="http://www.cc.gatech.edu/gvu/ii/citevis/VIS25/" class="navbar-link">Vis25 Home</a></p></li>
				</ul> -->

				<!-- <button type="button" class="btn btn-default hidden" ng-click="addList()">Add List</button> -->
				<span></span>
				<p class="navbar-text">List Modes</p>
				<div class="btn-group navbar-nav navbar-center">
					<button type="button" class="btn btn-default navbar-btn" ng-click="updateMode('Any')" ng-class="{true:'active', false:''}[mode=='Any']">Any</button>
					<button type="button" class="btn btn-default navbar-btn" ng-click="updateMode('All')" ng-class="{true:'active', false:''}[mode=='All']">All</button>
					<button type="button" class="btn btn-default navbar-btn" ng-click="updateMode('And')" ng-class="{true:'active', false:''}[mode=='And']">Same</button>
					<button type="button" class="btn btn-default navbar-btn" ng-click="updateMode('All-Any')" ng-class="{true:'active', false:''}[mode=='All-Any']">All-Any</button>
				</div>
				
				<!-- <form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>-->

				<p class="navbar-text navbar-right">Works best in <a class="navbar-link" href="https://www.google.com/chrome/">Google Chrome</a></p>
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- <div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" id="closeBtn" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Choose an attribute</strong> in the dropdown and click on the <strong>Add All</strong> button.
	</div> -->

	<div class="loader" ng-show="isLoading"></div>

	<div class="grid" style="height: {{gridHeight|angular}}px;">
		<div class="list-container" style="width: {{width|angular}}px; margin-left: 35px;">
			<my-list-component bindonce ng-repeat="list_index in lists track by $index"></my-list-component>
		</div>
	</div>

	<script type="text/javascript" src="{{url_for('static', filename='js/list/main.js')}}"></script>
	<script type="text/javascript">

		$(function(){

			$('#closeBtn').click(function(){ $(this).parent().remove(); });

			$.noty.defaults = {
				layout: 'topCenter',
				theme: 'defaultTheme',
				type: 'alert',
			    text: 'Loading Connections', // can be html or string
			    dismissQueue: false, // If you want to use queue feature set this true
			    template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
			    animation: {
			    	open: {height: 'toggle'},
			    	close: {height: 'toggle'},
			    	easing: 'swing',
			        speed: 100 // opening & closing animation speed
			    },
			    timeout: false, // delay for closing event. Set false for sticky notifications
			    force: false, // adds notification to the beginning of queue when set to true
			    modal: false,
			    maxVisible: 1, // you can set max visible notification for dismissQueue true option,
			    killer: false, // for close all notifications before show
			    closeWith: ['click'], // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all open notifications
			    callback: {
			    	onShow: function() {},
			    	afterShow: function() {},
			    	onClose: function() {},
			    	afterClose: function() {}
			    },
			    buttons: false // an array of buttons
			};
		});
        
	</script>

</body>
</html>