<!doctype html>
<html lang="en" data-ng-app="ngListViewApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Anand Sainath">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/css/starter-template.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
	
	<script src="{{ url_for('static', filename='bower_components/jquery/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-bindonce/bindonce.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/nginfinitescroll/build/ng-infinite-scroll.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/ngReact/ngReact.min.js') }}"></script>
	<script type="text/jsx" src="{{url_for('static', filename='js/list/list-reactor.js')}}"></script>-->
	<script src="{{ url_for('static', filename='lib/d3.v3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/list/longscroll.js') }}"></script>
	<script src="{{ url_for('static', filename='js/list/list.js') }}"></script>
	
	<title>List View</title>
</head>
<body id="bodyContainer" ng-controller="ListViewController">
	<div class="loader" ng-show="isLoading"></div>

	<div class="row" style="padding: 10px;">
		<div class="col-xs-4"></div>
		<div class="col-xs-1">
			<button type="button" class="btn btn-default" ng-click="addList()">Add List</button>
		</div>
		<div class="col-xs-7 btn-group text-right">
			<button type="button" class="btn btn-default" ng-click="updateMode('Any')" ng-class="{true:'active', false:''}[mode=='Any']">Any</button>
			<button type="button" class="btn btn-default" ng-click="updateMode('All')" ng-class="{true:'active', false:''}[mode=='All']">All</button>
			<button type="button" class="btn btn-default" ng-click="updateMode('And')" ng-class="{true:'active', false:''}[mode=='And']">And</button>
			<button type="button" class="btn btn-default" ng-click="updateMode('All-Any')" ng-class="{true:'active', false:''}[mode=='All-Any']">All-Any</button>
		</div>
	</div>

	<div class="grid" style="height: {{gridHeight|angular}}px;">
		<div class="list-container" style="width: {{width|angular}}px;">
			<my-list-component bindonce ng-repeat="list_index in lists track by $index"></my-list-component>
		</div>
	</div>

	<script type="text/javascript" src="{{url_for('static', filename='js/list/main.js')}}"></script>

</body>
</html>