<div style="width: 100%; height: 100%;" class="padding-5 word-tree-container" ng-controller="WordTreeController">
	<div style="width: 100%; height: 6%; overflow-x: hidden; overflow-y: auto; margin-top: 10px;">
		
		<small class="pull-left help-text" style="margin-left: 10px">Shift click to make the word the root of the tree</small>
		<form class="form-inline pull-right" style="margin-right: 10px">
			<input type="text" class="form-control" ng-model="keyword" id="keyword" placeholder="Tree Root">
			<button id="generateBtn" class="btn btn-primary" style="margin-right: 10px" ng-click="changeKeyWord()">Generate</button>

			<div class="checkbox">
				<label> <input type="checkbox" ng-model="reverse" id='reverse'> Reverse Tree </label>
			</div>
		</form>
	</div>
	<div style="width: 100%; height: 92%; margin-top: 3px;">
		<div id="vis"></div>
	</div>
</div>