{% extends "base_layout.html" %}

{% block title %}
Document Markup
{% endblock %}

{% block head_script_content %}

<style type="text/css">
	body{
		padding-top: 20px !important;
	}

	.navbar{
		display: none;
	}
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/document.css') }}">
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/angular-bindonce/bindonce.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/angular-virtual-scroll/angular-virtual-scroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/document/markup.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/document/document.js') }}"></script> -->

<script src="{{ url_for('static', filename='js/importer/importer.controller.js') }}"></script>
<script src="{{ url_for('static', filename='js/importer/importer.directive.js') }}"></script>	

{% endblock %}

{% block content %}
<!-- 
This document isn't rendered by angular, but via flask. Hence any angular variables that need to be printed have to be preceeded by the |angular flag.
-->
<div class="container" data-ng-app="ngJigsawDocApp" id="docContainer" ng-controller="MarkupController">
	<div class="loader hidden"></div>

	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<!-- <div class="panel-heading">
					<div class="row text-center">
						<div class="col-md-3"></div>
						<div class="col-md-2"><h5>Title</h5></div>
						<div class="col-md-4">
							<select name="title" class="form-control">
								<option ng-repeat="option in options" value="{{option}}">{{option|angular}}</option>
							</select>
						</div>
					</div>
				</div> -->
				
				<!-- render_document_panel() -->
				<div class="panel panel-default margin-bottom-0">
					<!-- Document content to be rendered here. -->
					<div class="pull-right form-inline" style="padding-right: 15px; padding-top: 10px;">
						<span style="padding-right: 10px">Summary lines</span>
						<select class="form-control" ng-model="lines" ng-change="onLineChange()" name="summary-lines">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
					<div class="bs-summary" style="margin-top: 35px;">
						<div class="row">
							<div class="col-md-12" style="padding-top: 35px;">
								<p ng-repeat="line_summary in summary">{{line_summary|angular}}</p>
							</div>
						</div>
					</div>

					<div class="bs-content divide padding-top-45" id="textContent">
						<p ng-repeat="line in content" ng-bind-html="line"></p>
					</div>
					<!-- List group -->
					<div class="bs-entities divide">
						<ul class="list-group">
							<li class="list-group-item">
								<ul class="list-unstyled">
									<li ng-repeat="column in entity_columns">
										<div class="row" ng-if="entities[column]">
											<div class="col-md-2"><h5><span class="label {{column|angular}}">{{column|angular}}</span></h5></div>
											<div class="col-md-10">
												<p style="margin-top: 10px" ng-bind="entities[column].join(', ')"></p>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>A sample of how the documents present in the input zip file is shown to the left. Configure the number of lines that you want in the summary on the left. Add any additional entities that can be created from the input file below.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><h5>Add document specific entities here</h5></div>
					<div class="panel-body">
						<table class="table">
							<caption></caption>
							<thead>
								<tr>
									<th>Entity Name</th>
									<th>Entity Value</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><input type="text" class="form-control" name="entityName[]" placeholder="New Entity Name"></td>
									<td>
										<select name="value[]" class="form-control">
											<option ng-repeat="option in options" value="{{option}}">{{option|angular}}</option>
										</select>
									</td>
									
									<td>
										<button type="button" class="btn btn-primary js-add-btn">+</button>
									</td>
								</tr>

								<tr class="js-entity-template hidden">
									<td><input type="text" class="form-control" name="entityName[]" placeholder="New Entity Name"></td>
									<td>
										<select name="value[]" class="form-control">
											<option ng-repeat="option in options" value="{{option}}">{{option|angular}}</option>
										</select>
									</td>
									
									<td>
										<button type="button" class="btn btn-primary js-add-btn">+</button>
										<button type="button" class="btn btn-warning js-remove-btn">-</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<button type="button" id="processBtn" data-loading-text="Processing Files..." class="btn btn-success" autocomplete="off" data-toggle="modal" data-target="#myModal">Process Documents »</button>
			</div> 
		</div>
	</div>
	<div import-dialog></div>
</div>
{% endblock %}

{% block script_content %}
<script type="text/javascript">
	$(function(){
		$(document).on("click",".js-add-btn", function(){
			var $new_row = $('.js-entity-template').clone();
			$new_row.removeClass("js-entity-template hidden");
			$('tbody').append($new_row);
		});

		$(document).on("click", ".js-remove-btn", function(){
			$(this).parents('tr:first').remove();
		});

		$(document).on('shown.bs.modal', '#myModal', function(){
			$(document).off('focusin.bs.modal');
			angular.element($("#myModal")).scope().triggerProgressUpdates();
		});

		// $("#myModal").on('shown.bs.modal',function(){
		// 	$(document).off('focusin.bs.modal');

		// 	console.log("I am here..");

		// 	var scope = angular.element(document.getElementById('#myModal')).scope();
		// 	console.log(scope);
		// 	scope.$apply(function(){
		// 		var controller = angular.element(document.getElementById('#myModal'));
		// 		controller.testFunction();
		// 	});
		// });

		// $('#processBtn').click(function(){
			/*var $btn = $(this).button('loading');
			// params = $('[name="title"]').serialize();
			var params = $('tbody > tr:not(".js-entity-template")').find("[name='value[]']").serialize();
			params += "&" + $('tbody > tr:not(".js-entity-template")').find("[name='entityName[]']").serialize();
			params += "&" + $('[name="summary-lines"]').serialize();

			// $('.loader').show().removeClass("hidden");
			$.ajax('/data/process-documents',{
				data: params,
				type: 'POST',
				dataType: 'json',
				success: function(data){
					$btn.button('reset');
					// $('.loader').hide().addClass("hidden");
					if(data.success){
						window.location.href = data.redirect;
					}else{
						window.alert("The documents could not be processed. Please try again!");
					}
				}
			});*/
			// console.log("button clicked");
			// return false;
		// });
	});
</script>
{% endblock %}