{% extends "base_layout.html" %}

{% block title %}
	Document View
{% endblock %}

{% block head_script_content %}
	<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquerypp.selection.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-bindonce/bindonce.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-virtual-scroll/angular-virtual-scroll.min.js') }}"></script>

	<script src="{{ url_for('static', filename='js/document/document.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js') }}"></script>
	
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/document.css') }}">
{% endblock %}

{% block content %}
	<div class="container">
		<my-document-component></my-document-component>
	</div>
{% endblock %}

{% block script_content %}

{% endblock %}