{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <!-- Gridster core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/gridster/css/jquery.gridster.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/gridster/css/demo.css') }}">
{% endblock %}

{% block content %}
<div class="gridster">
    <ul style="height: 650px; width: 880px; position: relative;">
      <li data-row="3" data-col="2" data-sizex="2" data-sizey="4" data-max-sizex="2" data-max-sizey="6" class="gs-w" style="position: absolute; min-width: 100px; min-height: 55px;">
        0
        <br>
        <small>Overwrited to 2, 6</small>
      <span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="1" data-col="3" data-sizex="6" data-sizey="2" data-max-sizex="6" data-max-sizey="2" class="gs-w" style="min-width: 100px; min-height: 55px;">
        1
        <br>
        <small>Overwrited max-size to 6, 2</small>
      <span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" class="gs-w">2<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="7" data-col="1" data-sizex="4" data-sizey="4" class="gs-w" style="position: absolute; min-width: 100px; min-height: 55px;">3<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="gs-w">4<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs-w">5<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" class="gs-w">6<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" class="gs-w">7<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="4" data-col="4" data-sizex="1" data-sizey="1" class="gs-w">8<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="3" data-col="6" data-sizex="3" data-sizey="4" data-min-sizex="3" data-min-sizey="3" class="gs-w" style="position: absolute; min-width: 100px; min-height: 55px;">
        9
        <br>
        <small>Overwrited min-size to 3, 3</small>
      <span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="2" class="gs-w">10<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="5" data-col="1" data-sizex="1" data-sizey="2" class="gs-w" style="position: absolute;">11<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="5" data-col="4" data-sizex="1" data-sizey="1" class="gs-w" style="position: absolute;">12<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="7" data-col="5" data-sizex="4" data-sizey="1" class="gs-w player-revert" style="position: absolute; min-width: 100px; min-height: 55px;">13<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="3" data-col="5" data-sizex="1" data-sizey="2" class="gs-w">14<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="5" data-col="5" data-sizex="1" data-sizey="1" class="gs-w">15<span class="gs-resize-handle gs-resize-handle-both"></span></li>
      <li data-row="6" data-col="4" data-sizex="2" data-sizey="1" class="gs-w" style="position: absolute; min-width: 100px; min-height: 55px;">16<span class="gs-resize-handle gs-resize-handle-both"></span></li>
    </ul>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Gridster core JS -->
<script type="text/javascript" src="{{ url_for('static', filename='lib/gridster/js/jquery.gridster.min.js') }}"></script>

<script type="text/javascript">
  var gridster;

  $(function(){
    gridster = $(".gridster ul").gridster({
      widget_base_dimensions: [100, 55],
      widget_margins: [5, 5],
      helper: 'clone',
      resize: {
        enabled: true,
        max_size: [4, 4],
        min_size: [1, 1]
      }
    }).data('gridster');
  });
</script>
{% endblock %}