{% extends "base_layout_without_navbar.html" %}

{% block title %}
	Jigsaw Web
{% endblock %}

{% block head_script_content %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/document.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/wordtree.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/add-visualization.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/visualization-widget.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/angular-gridster/dist/angular-gridster.min.css') }}"></script>

	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquerypp.selection.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-bindonce/bindonce.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-virtual-scroll/angular-virtual-scroll.min.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/d3.v3.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/jquery.noty.packaged.min.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/uuid.js') }}"></script>

	<script src="{{ url_for('static', filename='bower_components/javascript-detect-element-resize/jquery.resize.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/angular-gridster/dist/angular-gridster.min.js') }}"></script>
	
	<script type="text/javascript">
		String.prototype.endsWith = function(suffix) {
			return this.indexOf(suffix, this.length - suffix.length) !== -1;
		};

		$(function(){

			$('#closeBtn').click(function(){ $(this).parent().remove(); });
			$.noty.defaults = {
				layout: 'topCenter',
				theme: 'defaultTheme',
				type: 'alert',
			    text: 'Loading Connections', // can be html or string
			    dismissQueue: false, // If you want to use queue feature set this true
			    template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
			    animation: {
			    	open: {height: 'toggle'},
			    	close: {height: 'toggle'},
			    	easing: 'swing',
			        speed: 100 // opening & closing animation speed
			    },
			    timeout: false, // delay for closing event. Set false for sticky notifications
			    force: false, // adds notification to the beginning of queue when set to true
			    modal: false,
			    maxVisible: 1, // you can set max visible notification for dismissQueue true option,
			    killer: false, // for close all notifications before show
			    closeWith: ['click'], // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all open notifications
			    callback: {
			    	onShow: function() {},
			    	afterShow: function() {},
			    	onClose: function() {},
			    	afterClose: function() {}
			    },
			    buttons: false // an array of buttons
			};
		});

	</script>

	<script src="{{ url_for('static', filename='js/viz.js') }}"></script>
	<script src="{{ url_for('static', filename='js/directives/addVisualization.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/jStorage/jstorage.min.js') }}"></script>
	
	<!-- WordTree View Scripts -->
	<script src="{{ url_for('static', filename='js/wordtree.js') }}"></script>
	<script src="{{ url_for('static', filename='js/unicode.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wordtree/wordtree.service.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wordtree/wordtree.factory.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wordtree/wordtree.directive.js') }}"></script>
	<script src="{{ url_for('static', filename='js/wordtree/wordtree.controller.js') }}"></script>
	
	<script src="{{ url_for('static', filename='js/list/list.js') }}"></script>
	<script src="{{ url_for('static', filename='js/document/document.js') }}"></script>
	<script src="{{ url_for('static', filename='js/grid/grid.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/bootstrap-slider.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/jquery.highlight.js') }}"></script>
	<script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
	
{% endblock %}


{% block layout_content %}

<div ng-app="ngJigsaw" ng-controller="RootCtrl">
	
	<nav role="navigation" class="navbar">
		<div class="navbar-default navbar-static-top affix" data-spy="affix">
			<div class="container">
				<!-- Add visualization control -->
                <div add-visualization gridster-configs="visualizations"></div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div gridster="gridsterOpts">
	        <ul> 
	        	<li gridster-item="visualization" ng-repeat="visualization in visualizations track by visualization.id">
	                <div class="well visualization-widget" visualization-widget
	                    gridster-configs="visualizations"
	                    gridster-config-index="$index">
	                </div>
	            </li>
	        </ul>
	    </div>
	</div>
</div>

{% endblock %}

{% block script_content %}
	<style type="text/css">
		body{
			padding-top: 0px !important;
		}

		.navbar-default {
		  background-color: #FFFFFF;
		  border: 0;
		  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
		}

		.navbar-default.affix {
		  top: 0;
		  width: 100%;
		  z-index: 1040;
		  transform: none;
		  -webkit-transform: none;
		}

		body {
		    font-family: 'Helvetica Neue', Arial, sans-serif;
		    background: #F1F1F1;
		    /*color: #fff;*/
		}
		
		.well {
		  background-color: #FFFFFF;
		  box-shadow: 0 1px 4px rgba(154, 154, 154, 0.3);
		  border: 1px solid #D6D6D6;
		  margin: 0px;
		  position: relative;
		}
	</style>

	<script type="text/javascript" src="{{url_for('static', filename='js/list/main.js')}}"></script>
{% endblock %}